body {
    font-family: "Merriweather", sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #d6ebf5;
}
.container {
    margin: 0 auto;
    padding: 20px;
    max-width: 800px;
}
h1 {
    margin: 20px 0;
    font-size: 2em;
}
.link-no-style {
    text-decoration: none; /* Removes underline */
    color: inherit; /* Inherits the color from the parent element */
}
.menu {
    margin: 20px 0;
    font-size: 18px;
    position: relative;
}
.menu::before, .menu::after {
    content: "";
    display: block;
    height: 1px;
    background-color: lightgrey;
    width: 50%;
    margin: 10px auto; /* Centering and spacing above and below the menu */
}
.menu a {
    text-decoration: none; /* Removes underline */
    color: black;
    margin: 0 15px;
    font-size: 1em;
}
.menu a:hover {
    color: lightblue;
}
.main-title {
    margin-top: 40px;
}
.main-paragraph {
    margin-top: 10px;
    font-size: 1.2em;
}
img {
    max-width: 100%;
    height: auto;
}
.social-links {
    display: flex;
    justify-content: center; /* Centers badges horizontally */
    gap: 20px;
    margin-top: 20px; /* Adds spacing above the social links */
}
.blog-posts {
    margin-top: 40px;
}
.blog-post {
    margin: 20px 0;
    position: relative;
}
.blog-post::before, .blog-post::after {
    content: "";
    display: block;
    height: 1px;
    background-color: lightgrey;
    width: 30%;
    margin: 10px auto; /* Centering and spacing above and below each post */
}
.blog-post a {
    text-decoration: none; /* Removes underline */
    color: black;
    font-size: 1.2em;
}
.blog-post a:hover {
    color: lightblue;
}
.date {
    display: block;
    margin-bottom: 5px;
    color: grey;
    font-size: 0.9em;
}
.yellow-symbol {
    color: #dea025;
}
